@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-black text-slate-100;

    overscroll-behavior: none;
} 

.my-modal-content {
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}